#overview, #panel:overview {
  background-color: #222222;
}

#panel {
  background-color: rgba(34, 34, 34, 0.85);
  box-shadow: none;
}

#dash,
#panelLeft,
#panelLeft *,
#panelRight > *,
.datemenu-displays-box,
.datemenu-today-button,
.datemenu-today-button .date-label,
.datemenu-today-button .day-label,
.message-list-controls > *:first-child,
.search-entry {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 0 !important;
}

#panelRight > *:last-child {
  height: auto !important;
  width: auto !important;
}

#searchResultsContent {
  padding-top: 50px;
}
