#overview {
  background-image: url(/home/pweth/dotfiles/static/background-blur.jpg);
}

#panel {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}

#panel:overview {
  background-color: transparent;
}

#dash,
#panelLeft,
#panelLeft *,
#panelRight > *,
.calendar,
.calendar-change-month-forward,
.calendar-change-month-back,
.calendar-day,
.calendar-day-heading,
.calendar-month-label,
.datemenu-displays-box,
.datemenu-today-button,
.datemenu-today-button .date-label,
.datemenu-today-button .day-label {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 0 !important;
}

#panelRight > *:first-child,
#panelRight > *:last-child {
  height: auto !important;
  width: auto !important;
}

.message-list {
  height: 400px;
}
