@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

browser {
    margin-bottom: 0px;
    margin-right: 0px;
}

#TabsToolbar {
    visibility: collapse !important;
}

#nav-bar {
    margin-bottom: -42px;
    margin-top: 0;
    z-index: -100;
}

#main-window[windowtype="navigator:browser"] {
    background-color: transparent !important;
}

.tab-background[selected="true"] {
    background: rgba(0, 0, 0, 0) !important;
}
