window#waybar {
    background: #111;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 16px;
    border: none;
    color: #fff;
}

button, .module {
    background: transparent;
    border: none;
    border-radius: 0;
    border-top: solid 2px #000;
    padding: 10px 8px;
}

button:not(.empty) {
    border-color: #777;
}

.modules-right .module {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-color: #777;
    padding: 10px 15px;
}

button:hover, .modules-right .module:hover {
    background-color: #000;
}

#workspaces {
    padding: 0;
}

button.active,
#bluetooth.connected,
#custom-media.activated,
#idle_inhibitor.activated,
#network.ethernet,
#network.linked,
#network.wifi,
#pulseaudio:not(.muted) {
    border-color: #fff;
}
